html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 10000px;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

.category-btn {
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.category-btn > span {
  margin-right: 5px;
}

.category-btn:hover {
  background-color: red;
}
